@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-vindo(a) a Clima Produções</h1>
    <p>Somos uma empresa especializada em criação de logomarcas para você!<br>
    Clique em contato e faça seu orçamento. ;D.</p>
</div>
