@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="display-4">Faça agora seu orçamento:</h1>
    <p>Whatsapp: (11) 9999-9999 <br>
    Instagram: cclimaproducoess<br> </p>
</div>
